<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>
      Company History
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <img src="assets/icon.png" class="center">
    <strong><br>Plantita<br><br></strong>
    <p>Plantita Company is the largest locally owned and operated provider of plant services in the Philippines.
    Our diverse <br> and highly experienced staff has aided us in achieving this position of leadership.  
    Even after more than 5 years, <br> one thing remains constant: our desire to create the <br> most desirable environment for every technology facility, hotel, retail store, or your home.
    We foster an environment <br> in which you can work, play, and grow. Most species on Earth would perish if plants did not exist. 
    Both the air we breathe <br> and the food we eat rely on the continued existence of plant life on our planet.
    </p>
  </div>
</ion-content>