ion-title {
  color: rgb(0, 0, 0);
}

.new-background-color {
  --background: #cceecc;
}

ion-content {
  --ion-background-color: #f6f6e9;
}

#container {
  text-align: center;
  color: rgb(0, 0, 0);
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 24px;
  line-height: 22px;
}



#container a {
  text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.image-container {
  padding: 10px;


}

img {
  width: 300px;
  height: 300px;
}

.content {
  padding: 15px;
  text-align: justify;
  text-indent: 40px;
}

.title h1 {
  margin-top: -14px;
  font-weight: bold;
  font-family: Pacifico;
  font-size: 50px;
}