<ion-header [translucent]="true">
    <ion-toolbar class="new-background-color">
        <ion-title>
            Company History
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div id="container">
        <div class="image-container">
            <img src="assets/LOGO1.png" class="center">
        </div>
        <div class="title">
            <h1>Evergarden</h1>
        </div>
        <div class="content">
            The company Evergarden was recently founded with the goal of providing high-quality plants and gardening supplies to customers in the local area. 
      The founders, who are passionate about gardening and the outdoors, started the company with a small storefront in the city.
      Since its inception, Evergarden has focused on providing expert advice and a wide selection of plants to its customers. 
      They have quickly gained a reputation for their knowledge and expertise in the field of gardening, and their customer base has continued to grow.
            <br>
            <br>
            In addition to their storefront, Evergarden has also launched an online store, allowing customers to order and have their products delivered directly to their homes. 
      The company is committed to providing exceptional customer service and high-quality products, 
      and they have already gained a loyal following among local gardeners and outdoor enthusiasts.
      As the company continues to grow and expand, they plan to open additional locations and continue to offer a wide range of products to their customers.
        </div>
    </div>
</ion-content>
