ion-card {
  ion-grid {
    ion-row {
      ion-thumbnail {
        min-width: 5rem;
        min-height: 5rem;

        img {
          padding-right: 10px;
          max-width: 5rem;
          min-width: 5rem;
        }

      }

    }
  }
}

.new-background-color {
  --background: #cceecc;
}