<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-title>
            Developers
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="title">
        <h1>Meet the Team</h1>
    </div>
    <!--IBARRA-->
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-thumbnail>
                        <img src="./assets/DEVELOPERS/IBARRA.jpg">
                    </ion-thumbnail>
                </ion-col>
                <ion-col size="8">
                    <h4>Christian Jay Ibarra</h4>
                    <ion-icon name="mail-outline"></ion-icon>
                    qcjpibarra@tip.edu.ph
                    <br>
                    <ion-icon name="call-outline"></ion-icon>
                    +639295941218
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <!--CRUZ-->
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-thumbnail>
                        <img src="./assets/DEVELOPERS/CRUZ.JPG">
                    </ion-thumbnail>
                </ion-col>
                <ion-col size="8">
                    <h4>Yunice Nicolle Cruz</h4>
                    <ion-icon name="mail-outline"></ion-icon>
                    qynjcruz@tip.edu.ph
                    <br>
                    <ion-icon name="call-outline"></ion-icon>
                    +639691955153
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <!--CANETE-->
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-thumbnail>
                        <img src="./assets/DEVELOPERS/CANETE.jpg">
                    </ion-thumbnail>
                </ion-col>
                <ion-col size="8">
                    <h4>Jeruel Canete</h4>
                    <ion-icon name="mail-outline"></ion-icon>
                    qjjcanete01@tip.edu.ph
                    <br>
                    <ion-icon name="call-outline"></ion-icon>
                    +639064320939
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <!--ANDRADE-->
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-thumbnail>
                        <img src="./assets/DEVELOPERS/ANDRADE.png">
                    </ion-thumbnail>
                </ion-col>
                <ion-col size="8">
                    <h4>Jaron John Andrade</h4>
                    <ion-icon name="mail-outline"></ion-icon>
                    qjjlandrade@tip.edu.ph
                    <br>
                    <ion-icon name="call-outline"></ion-icon>
                    +639975707151
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <!--BAYANIN-->
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-thumbnail>
                        <img src="./assets/DEVELOPERS/BAYANIN.jpg">
                    </ion-thumbnail>
                </ion-col>
                <ion-col size="8">
                    <h4>Charles Danniel Bayanin</h4>
                    <ion-icon name="mail-outline"></ion-icon>
                    qcdcbayanin@tip.edu.ph
                    <br>
                    <ion-icon name="call-outline"></ion-icon>
                    +639658536105
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <!--ANDAYA-->
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-thumbnail>
                        <img src="./assets/DEVELOPERS/ANDAYA.jpg">
                    </ion-thumbnail>
                </ion-col>
                <ion-col size="8">
                    <h4>Natalia Andaya</h4>
                    <ion-icon name="call-outline"></ion-icon>
                    +639953469548
                    <br>
                    <ion-icon name="mail-outline"></ion-icon>
                    qnlandaya@tip.edu.ph
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <!--TARDECILLA-->
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <ion-thumbnail>
                        <img src="./assets/DEVELOPERS/TARDECILLA.jpg">
                    </ion-thumbnail>
                </ion-col>
                <ion-col size="8">
                    <h4>Kurt Joshua Tardecilla</h4>
                    <ion-icon name="mail-outline"></ion-icon>
                    qkjttardecilla@tip.edu.ph
                    <br>
                    <ion-icon name="call-outline"></ion-icon>
                    +639611584765
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>
