<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>
      Developers
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-item class="first">
      <img src="assets/picture3.PNG">
      <p>Mary Angelique Labanon</p><br><br>
    </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item class="first">
        <img src="assets/picture2.png">
        <p>Christian Jay Ibarra</p><br><br>
        </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item class="first">
        <img src="assets/picture4.PNG">
        <p>Jericho David Sagayap</p><br><br>
        </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item class="first">
        <img src="assets/1913917.jpg">
        <p>Jericho I. Gesmundo</p><br><br>
        </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item class="first">
        <img src="assets/picture1.PNG">
        <p>Rembranth Franco</p><br><br>
        </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>