ion-card {
  ion-grid {
    ion-row {
      ion-col {

        h4 {
          color: #5f7a61;
          font-weight: bolder;
        }

        ion-thumbnail {
          min-width: 5rem;
          min-height: 5rem;

          img {
            padding-right: 10px;
            max-width: 5rem;
            min-width: 5rem;
          }

        }
      }

    }
  }
}

.new-background-color {
  --background: #cceecc;
}

.title h1 {
  margin-top: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Pacifico;
  font-size: 40px;
  text-align: center;
}