* {
    font-family: Arial, Helvetica, sans-serif;
}

ion-title {
    color: rgb(0, 0, 0);
}

ion-footer {
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 12px;
    background: #cceecc;
    color: #5f7a61;
    background: linear-gradient(90deg, #cceecc 5%, #9FCDB8 100%);
}

.header-content {
    position: absolute;
    top: -20px;
    right: 25px;
    display: flex;
    align-items: center;

    img {
        width: 270px;
        height: 270px;
    }

    h2 {
        font-weight: 400;
        color: rgb(0, 0, 0);
    }

    p {
        font-size: 14px;
        color: #f6f6e9;
        font-weight: 100;
        letter-spacing: 0.4px;
    }
}

.action-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    ion-button {
        text-transform: capitalize;
        font-weight: 300;
        --background: #628cff;
        --border-radius: 7px;
        --box-shadow: none;
    }

    ion-icon {
        margin-right: 1px;
    }
}

.menu-items {
    margin: 0px;

    ion-icon {
        margin-right: 20px;
        color: rgb(134, 134, 134);
    }

    ion-item {
        padding-left: 20px;
        margin-bottom: 10px;
    }

    ion-icon {
        color: seagreen;
    }
}

/*ION-AVATAR SLOT*/

ion-content {
    ion-grid {
        ion-row {
            margin-top: 25px;

            ion-avatar {
                margin: auto;
                width: 100% !important;
                height: 100% !important;
                max-width: 100px !important; //any size
                max-height: 100px !important; //any size 

            }
        }
    }
}

ion-content {
    ion-grid {
        ion-row {
            p {
                text-align: center;
                font-family: 'Times New Roman', Times, serif;
                margin-top: -5px;
                margin-left: 76px;
                font-weight: bold;
                font-size: larger;
            }
        }
    }
}