<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-title>
            Contact Us
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title class="center">
                <h1> CONTACT FORM</h1>
                <p>Question not answered yet? We are here to help!</p>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <form>
                <label for="name">Enter Name:</label>
                <br>
                <input type="text">
                <br>
                <label for="email">Enter Email:</label>
                <br>
                <input type="text">
                <br>
                <p>Message:</p>
                <textarea rows="4" cols="50">Enter Message here..</textarea>
                <br>
                <ion-button class="color-btn">Submit</ion-button>
            </form>
        </ion-card-content>
    </ion-card>
    <ion-grid>
        <ion-row>
            <img src="assets/banner.png">
        </ion-row>
    </ion-grid>
    <div class="title">
        <h1>Evergarden</h1>
    </div>
    <ion-list>
        <ion-item>
            <ion-icon name="call-outline"></ion-icon>
            <ion-label>(02) 8921 0964</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="mail-outline"></ion-icon>
            <ion-label>evergarden@gmail.com</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>939 Aurora Blvd, Cubao, Quezon City</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
