ion-title {
  color: rgb(0, 0, 0);
}

.new-background-color{
  --background: #cceecc;
}

ion-content{
--ion-background-color: #eeffee;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 24px;
  line-height: 22px;
}

#container p {
  font-size: 14px;
  line-height: 20px;

  color: #0c0c0c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

strong {
  color: #0c0c0c;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color-scheme: white;
}
input[type=textarea]{
  input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    color: #cceecc;
  }
}
