<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>
      Contact Us
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>Angelique <br><br></strong>
    <p>Phone: +63 935 252 2418 <br>
      E-mail: qmaclabanon@tip.edu.ph</p><br><br>

    <strong>Jay <br><br></strong>
    <p>Phone: +63 995 849 9965 <br>
    E-mail: qcjibarra@tip.edu.ph</p><br><br>

    <strong>Sagayap <br><br></strong>
    <p>Phone: N/A <br>
    E-mail: qjdcsagayap@tip.edu.ph</p><br><br>

    <strong>Gesmundo <br><br></strong>
    <p>Phone: +63 936 545 6585 <br>
    E-mail: qjigesmundo@tip.edu.ph</p><br><br>

    <strong>Rem <br><br></strong>
    <p>Phone: +63 928 123 4532 <br>
    E-mail: qrlfranco@tip.edu.ph</p>
  </div>
</ion-content>