ion-title {
  color: rgb(0, 0, 0);
}

.new-background-color {
  --background: #cceecc;
}

ion-content {
  --ion-background-color: #eeffee;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 24px;
  line-height: 22px;
}

#container p {
  font-size: 14px;
  line-height: 20px;

  color: #0c0c0c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

strong {
  color: #0c0c0c;
}

ion-card-title {
  p {
    font-size: 12px;
    margin: -9px 2px;
    padding-bottom: 10px;
  }
}

ion-card-content {
  form {
    input {
      width: 100%;
      box-sizing: border-box;
      padding-bottom: 10px;
      background-color: white;
      border-style: 1px solid black;

    }
  }
}

ion-card-content {
  form {
    textarea {
      color: gray;
      border-style: 1px solid black;
      background-color: white;
      width: 100%;
    }
  }
}

ion-grid {
  ion-row {
    img {
      margin-top: -55px;
    }
  }
}