<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>
      Contact Us
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title class="center"><h1> CONTACT FORM</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <label for="name">Enter Name:</label><br>
        <input type="text"><br>
        <label for="email">Enter Email:</label><br>
        <input type="text"><br>
        <textarea rows="4" cols="50">Enter Comment here</textarea><br>
        <input type="submit">
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="center"><h3>Christian Jay Ibarra</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
     Email: qcjpibarra@tip.edu.ph
     <br> Phone Number:
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title class="center"><h3>Yunice Nicolle Cruz</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
     Email: qynjcruz@tip.edu.ph
     <br> Phone Number:
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="center"><h3>Charles Danniel Bayanin</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
     Email: qcdcbayanin@tip.edu.ph
      <br> Phone Number: +639658536105
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="center"><h3>Jaron John L. Andrade</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Email: qjjlandrade@tip.edu.ph
      <br>Phone Number: +639975707151
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="center"><h3>Jeruel J. Canete</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Email: qjjcanete01@tip.edu.ph
      <br> Phone Number: +639064320939
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="center"><h3>Kurt Joshua Tardecilla</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
    Email: qkjttardecilla@tip.edu.ph
      <br>Phone Number: +639611584765
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="center"><h3>Natalia Andaya</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
    Email: qnlandaya@tip.edu.ph
      <br>Phone Number: +639953469548 
    </ion-card-content>
  </ion-card>
  <ion-card>
  </ion-card>
</ion-content>