<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>
      About the App
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="container">
  <img src="assets/Mission.png" class="center">
  <strong><br>Mission<br><br></strong>
  <p>To consistently exceed our clients' expectations by providing unrivaled products and services at competitive prices.
    <br><br> We are committed to creating a fantastic variety of exceptional plants and giving our customers the best support we can. Make a stimulating, secure, demanding, and satisfying workplace.

    <br><br>
    <img src="assets/Vision.png" class="center">
    <strong><br>Vision<br><br></strong>
    Aspiring to business perfection through creating enduring connections with our clients Make a climate for business where the organization can profit fairly through innovation, efficiency, and dedication.
  </p>
</div>
</ion-content>