<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>
      About the App
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="container">
  <img src="assets/Mission.png" class="center">
  <strong><br>Mission<br><br></strong>
  <p>To consistently exceed our clients' expectations by providing unrivaled products and services at competitive prices.
    <br><br> Through the incorporation of nature into the built environment, we hope to enrich and transform our clients' environment, health, and well-being.

    <br><br>
    <img src="assets/Vision.png" class="center">
    <strong><br>Vision<br><br></strong>
    We envision a world in which everyone recognizes and values the value of plants.
  </p>
</div>
</ion-content>