ion-header {
  background: var(--ion-color-light);

  ion-list {
    background: var(--ion-color-primary);
    border-radius: 0 0 20px 20px;
    padding-bottom: 7vh;

    ion-item {
      ion-label {
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 0.5px;

      }

      ion-avatar {
        background: white;
      }
    }
  }
}

.popover {
  margin: 0 8px;

  ion-searchbar {
    --border-radius: 20px;
    margin-top: -30px;
  }
}

ion-content {
  .title {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--ion-color-dark);
  }

  ion-slides {
    ion-card {
      height: 25vh;
      width: 100%;
      border-radius: 10px;

      ion-card header {

        ion-label,
        p {
          font-weight: bold;
          font-size: 1rem;
          color: var(--ion-color-dark);
        }
      }

      ion-card-content {
        img {
          height: 70px;
        }
      }

      .bgCard {
        background-position: fixed;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .fItem{
        height: 2opx;
        ion-card-header{
          padding: 0;
          background: var(--ion-color-tertiary);
          img{
            height: 30px;
          }
        }
      }
    }
  }
}


.new-bg-color {
  color: black;
  font-weight: bold;
}

.new-background-color {
  --background: #b0db78;
}

ion-fab-button {
  height: 60px;
  width: 70px;
}

.cart-icon {
  font-size: 50px;
}

.cart-length {
  color: var(--ion-color-primary);
  position: absolute;
  top: 18px;
  left: 25px;
  font-weight: 600;
  font-size: 1em;
  min-width: 25px;
  z-index: 10;
}

ion-app {
  --ion-background-color: #ffffff;
}

ion-card-title {
  color: black;
  font-weight: bold;
}

ion-card {
  background: #f6f6e9;
}